[submodule "vendor/vma"]
	path = deps/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendor/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/xxHash"]
	path = deps/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "deps/vulkan-headers"]
	path = deps/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "deps/d3d12ma"]
	path = deps/d3d12ma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
